Different Ways Of Creating DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("weather.csv") #creating using a csv file

In [ ]:
df = pd.read_excel("weather.xlsx","sheet1") #creating using excel sheet

In [14]:
weather_data1 = {
    'day':  ['mon','tue','wed'],
    'temp': ['32','33','34'],
    'windspeed': [2,3,4],
    'event': ['rain', 'sunny', 'snow']
}

df1 = pd.DataFrame(weather_data1) #creating using a dictionary using the Dataframe method

In [15]:
df1

   day temp  windspeed  event
0  mon   32          2   rain
1  tue   33          3  sunny
2  wed   34          4   snow

In [18]:
#creating a dataframe using a tuple list using the Dataframe method

weather_data2 = [
    ('mon', '32', 2, 'rain'),
    ('tue', '33', 3, 'sunny'),
    ('wed', '34', 4, 'snow')
]

df = pd.DataFrame(weather_data2, columns=['day','temp','windspeed','event'])
df

   day temp  windspeed  event
0  mon   32          2   rain
1  tue   33          3  sunny
2  wed   34          4   snow

In [20]:
#creating a dataframe using a list using the Dataframe method

weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow